In [1]:
import pandas as pd

In [5]:
file_path = r'C:\Users\Ajay Mulgir\Downloads\exported-car-sales.csv'

In [6]:
data_file=pd.read_csv(file_path)

In [7]:
data_file.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [8]:
data_file.insert(5,"yesorno",0)

In [9]:
data_file.head()

     Make Colour  Odometer (KM)  Doors       Price  yesorno
0  Toyota  White         150043      4   $4,000.00        0
1   Honda    Red          87899      4   $5,000.00        0
2  Toyota   Blue          32549      3   $7,000.00        0
3     BMW  Black          11179      5  $22,000.00        0
4  Nissan  White         213095      4   $3,500.00        0

In [16]:
def balance(val):
    if int(val)>=4000:
        return 0
    else:
        return 1
    
data_file['yesorno']=balance(data_file['Price'])

TypeError: cannot convert the series to <class 'int'>