In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#sum up the number till some point

In [4]:
n = int(input("enter your limit:"))
starting_point = 0 
counter = 1

while counter <= n:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter your limit:3

6

In [ ]:
1,2,3,4,5

In [5]:
number = int(input("enter your number"))
factorial = 1 
while number > 0 :
    factorial = factorial*number
    number = number-1
factorial

enter your number5

120

In [9]:
#Finonacci series

In [12]:
number = int(input("enter the number of element you are looking for "))
a , b  = 0 , 1 
counter = 0 
while counter < number : 
    print(a)
    c = a+ b
    a = b 
    b = c 
    counter= counter+ 1

enter the number of element you are looking for  10

0
1
1
2
3
5
8
13
21
34

In [13]:
a , b  = 0 , 1 

for i in range(10) : 
    print(a)
    c = a+ b
    a = b 
    b = c

0
1
1
2
3
5
8
13
21
34

In [14]:
s = "sudh"

In [15]:
s[::-1]

'hdus'

In [17]:
len(word)

4

In [4]:
word = input("enter your string for reversal")

enter your string for reversalajay

In [5]:
reverse = ""
length = len(word)
while length > 0 :
    reverse = reverse + word[length -1]
    length = length -1
print(reverse)

yaja

In [21]:
#print table of numbers

In [7]:
n = int(input("enter your number"))
i = 1 

while i <= 10  : 
    result = n *i
    print(n ,"* " , i ,"=" ,result)
    i= i+1

enter your number3
3 *  1 = 3
3 *  2 = 6
3 *  3 = 9
3 *  4 = 12
3 *  5 = 15
3 *  6 = 18
3 *  7 = 21
3 *  8 = 24
3 *  9 = 27
3 *  10 = 30

n = 5 
i = 1
while i < n :
    print(i)
    i = i+ 1
else :
    print("this will be executed once your while will complete it succesfully")

In [27]:
n = 5 
i = 1
while i < n :
    print(i)
    if i == 3 :
        break
    i = i+ 1
else :
    print("this will be executed once your while will complete it succesfully")

1
2
3

Write a function called common_elements(set1, set2) that takes two sets as input and returns a new set containing the elements that are common to both set1 and set2.