In [3]:
import numpy as np
import pandas as pd
import yfinance as yf

In [4]:
df = yf.download("^NSEI",period='max')

[*********************100%%**********************]  1 of 1 completed

In [5]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0

In [6]:
df.shape

(3923, 6)

In [7]:
import pandas_ta as ta

In [8]:
df['rsi']=ta.rsi(df['Close'],length=14)

In [9]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,rsi
Date,,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0,NaN
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0,NaN
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0,NaN
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0,NaN
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0,NaN

In [11]:
holding=0
entry_price=0
entry_time=0
exit_price=0
exit_time=0
pnl=pd.DataFrame(columns=['type','entry_price','entry_time','exit_price','exit_time','points','pnl'])
for row , value in df.iterrows():
    if holding==0 and value['rsi'] >= 60:
        holding = 1 
        entry_price = value['Close']
        entry_time = row
        continue
    elif holding ==1 and value['rsi'] <= 40:
        holding =0
        exit_price = value['Close']
        exit_time = row
        pnl.loc[len(pnl)]=['long',entry_price,entry_time,exit_price,exit_time,(exit_price-entry_price),(exit_price-entry_price)*50]

In [12]:
pnl.head()

,type,entry_price,entry_time,exit_price,exit_time,points,pnl
0,long,5085.100098,2007-10-08,5705.299805,2008-01-18,620.199707,31009.985352
1,long,5111.700195,2008-04-25,4835.299805,2008-05-29,-276.400391,-13820.019531
2,long,4476.799805,2008-07-23,4072.899902,2008-09-15,-403.899902,-20194.995117
3,long,2939.899902,2009-03-23,4003.899902,2009-07-10,1064.000000,53200.000000
4,long,4502.250000,2009-07-20,4826.149902,2009-10-28,323.899902,16194.995117

In [13]:
pnl.to_csv('quant.csv')

In [14]:
pnl.shape

(43, 7)